[Unit]
Description=HookahPlace Noble API
After=network.target

[Service]
# User running the api (change if needed)
User=root
WorkingDirectory=/opt/noble/booking
# Run Uvicorn directly or via Gunicorn
ExecStart=/usr/local/bin/uvicorn api:app --host 0.0.0.0 --port 8000
Restart=always
RestartSec=10
EnvironmentFile=/opt/noble/booking/.env

[Install]
WantedBy=multi-user.target
