[Unit]
Description=HookahPlace Noble API
After=network.target

[Service]
User=andrey
WorkingDirectory=/home/andrey/apps/noble-booking/src
ExecStart=/home/andrey/apps/noble-booking/venv/bin/uvicorn api:app --host 0.0.0.0 --port 8000
Restart=always
RestartSec=10
EnvironmentFile=/home/andrey/apps/noble-booking/src/.env

[Install]
WantedBy=multi-user.target
