[Unit]
Description=HookahPlace Noble Telegram Bot
After=network.target

[Service]
User=andrey
WorkingDirectory=/home/andrey/apps/noble-booking/src
ExecStart=/home/andrey/apps/noble-booking/venv/bin/python bot.py
Restart=always
RestartSec=10
EnvironmentFile=/home/andrey/apps/noble-booking/src/.env

[Install]
WantedBy=multi-user.target
