version: '3.8'

services:
  noble-frontend:
    build: ../HookahPlace Noble Site
    container_name: noble_frontend
    restart: always
    volumes:
      # Mount config
      - ./nginx/app.conf:/etc/nginx/conf.d/default.conf
      # Mount certs
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    ports:
      - "80:80"
      - "443:443"
      
  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"
